* {
    background-color: rgb(132, 173, 173);
}
/* 
main {
    min-height: 100vh; 
    display: flex; 
    flex-direction: column;
    flex-grow:1
} */

#content {
    height: 100vh;
    display: flex;
    flex-direction: column;
}